h1 {
   color:blue;
}
h2 {
    color:black;
}
p {
    color:navy;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
div {
    margin:10px;
}
.warning {
    color:green;
    font-weight:bold;
}
